# Developer tools' files
.lite_workspace.lua

# Neutralinojs binaries and builds
/bin
/dist
/node_modules

# Local runtime data
/data/*.json

# Neutralinojs client (minified)
neutralino.js
!/app/src/neutralino.js

# Neutralinojs related files
.storage
*.log
